# Copyright (c) 2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

if SHIELD_SSD1351_128X128

if DISPLAY


config SPI
	default y


config SSD1351
	default y


if LVGL

config LVGL_DISPLAY_DEV_NAME
	default "SSD1351"

config LVGL_HOR_RES_MAX
	default 128

config LVGL_VER_RES_MAX
	default 128

config LVGL_VDB_SIZE
	default 64

config LVGL_DPI
	default 148

config LVGL_BITS_PER_PIXEL
	default 16

choice LVGL_COLOR_DEPTH
	default LVGL_COLOR_DEPTH_16
endchoice

endif # LVGL

endif # DISPLAY

endif # SHIELD_SSD1351_128X128
